@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

em{
  color: #111222;
}

@theme {
  --color-offwhite: #fafafa;
  --color-offblack: #222222;
  --color-primary: #E900C1;
  --color-secondary: #00E028;
  --color-dark-primary: #b00092;
  --color-dark-secondary: #00B01E;
  
  --font-poppins: "Poppins", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));